<?xml version="1.0"?>
<!--
 /**
 * GoMage LegalPerson Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2017 GoMage (https://www.gomage.com)
 * @author       GoMage
 * @license      https://www.gomage.com/license-agreement/  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 1.0.0
 * @since        Class available since Release 1.0.0
 */
 -->
<config>
    <modules>
        <GoMage_LegalPerson>
            <version>1.0.0</version>
        </GoMage_LegalPerson>
    </modules>
    <global>
        <blocks>
            <gomage_legalperson>
                <class>GoMage_LegalPerson_Block</class>
            </gomage_legalperson>
            <gomage_checkout>
                <rewrite>
                    <onepage_billing>GoMage_LegalPerson_Block_Onepage_Billing</onepage_billing>
                    <onepage_shipping>GoMage_LegalPerson_Block_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </gomage_checkout>
        </blocks>
        <helpers>
            <gomage_legalperson>
                <class>GoMage_LegalPerson_Helper</class>
            </gomage_legalperson>
        </helpers>
        <models>
            <gomage_legalperson>
                <class>GoMage_LegalPerson_Model</class>
                <resourceModel>gomage_legalperson_mysql4</resourceModel>
            </gomage_legalperson>
            <customer>
                <rewrite>
                    <form>GoMage_LegalPerson_Model_Customer_Form</form>
                </rewrite>
            </customer>
        </models>
        <resources>
            <gomage_legalperson_setup>
                <setup>
                    <module>GoMage_LegalPerson</module>
                    <class>GoMage_LegalPerson_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gomage_legalperson_setup>
            <gomage_legalperson_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gomage_legalperson_write>
            <gomage_legalperson_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gomage_legalperson_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <gm_lp_type>
                    <to_order>*</to_order>
                </gm_lp_type>
                <gm_lp_tro>
                    <to_order>*</to_order>
                </gm_lp_tro>
                <gm_lp_bank>
                    <to_order>*</to_order>
                </gm_lp_bank>
                <gm_lp_iban>
                    <to_order>*</to_order>
                </gm_lp_iban>
                <gm_lp_pc>
                    <to_order>*</to_order>
                </gm_lp_pc>
                <gm_lp_card>
                    <to_order>*</to_order>
                </gm_lp_card>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <gm_lp_type>
                    <to_order>*</to_order>
                </gm_lp_type>
                <gm_lp_tro>
                    <to_order>*</to_order>
                </gm_lp_tro>
                <gm_lp_bank>
                    <to_order>*</to_order>
                </gm_lp_bank>
                <gm_lp_iban>
                    <to_order>*</to_order>
                </gm_lp_iban>
                <gm_lp_pc>
                    <to_order>*</to_order>
                </gm_lp_pc>
                <gm_lp_card>
                    <to_order>*</to_order>
                </gm_lp_card>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <gm_lp_type>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </gm_lp_type>
                <gm_lp_tro>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </gm_lp_tro>
                <gm_lp_bank>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </gm_lp_bank>
                <gm_lp_iban>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </gm_lp_iban>
                <gm_lp_pc>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </gm_lp_pc>
                <gm_lp_card>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </gm_lp_card>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <gm_lp_type>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_type>
                <gm_lp_tro>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_tro>
                <gm_lp_bank>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_bank>
                <gm_lp_iban>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_iban>
                <gm_lp_pc>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_pc>
                <gm_lp_card>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_card>
            </sales_convert_order_address>
            <customer_address>
                <gm_lp_type>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_type>
                <gm_lp_tro>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_tro>
                <gm_lp_bank>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_bank>
                <gm_lp_iban>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_iban>
                <gm_lp_pc>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_pc>
                <gm_lp_card>
                    <to_quote_address>*</to_quote_address>
                </gm_lp_card>
            </customer_address>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gomage_legalperson module="gomage_legalperson">
                    <file>gomage-legalperson.xml</file>
                </gomage_legalperson>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <gomage_legalperson module="gomage_legalperson">
                    <file>gomage-legalperson.xml</file>
                </gomage_legalperson>
            </updates>
        </layout>
    </frontend>
    <default>
        <gomage_checkout>
            <person>
                <enabled>0</enabled>
                <countries><![CDATA[RO]]></countries>
                <default>0</default>
            </person>
            <natural_person>
                <gm_lp_tro></gm_lp_tro>
                <gm_lp_bank></gm_lp_bank>
                <gm_lp_iban></gm_lp_iban>
                <gm_lp_pc>opt</gm_lp_pc>
                <gm_lp_card></gm_lp_card>
                <company></company>
                <vat_id></vat_id>
            </natural_person>
            <legal_person>
                <gm_lp_tro>req</gm_lp_tro>
                <gm_lp_bank>req</gm_lp_bank>
                <gm_lp_iban>req</gm_lp_iban>
                <gm_lp_pc></gm_lp_pc>
                <gm_lp_card></gm_lp_card>
                <company>req</company>
                <vat_id>req</vat_id>
            </legal_person>
        </gomage_checkout>
    </default>
</config>